.panel-group {
  height: 100vh;
  width: 100vw;
}

.panel {
  background-color: #1a1a1a;
}

.panel-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
}

.resize-handle {
  width: 4px;
  background-color: #333;
  transition: background-color 0.2s;
}

.resize-handle:hover,
.resize-handle[data-active] {
  background-color: #646cff;
}
